@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@300&family=Roboto:wght@100&display=swap');

.bs-icon {
  --bs-icon-size: .75rem;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  font-size: var(--bs-icon-size);
  width: calc(var(--bs-icon-size) * 2);
  height: calc(var(--bs-icon-size) * 2);
  color: #4C647B; 
}


.bs-icon-lg {
  --bs-icon-size: 2rem;
}


.bs-icon.bs-icon-primary {
  color: var(--bs-white);
  background: #4C647B; 
}


.bs-icon.bs-icon-semi-white {
  color: #4C647B; 
  background: rgba(255, 255, 255, .5);
}

.bs-icon.bs-icon-rounded {
  border-radius: .5rem;
}

.bs-icon.bs-icon-circle {
  border-radius: 50%;
}

.fit-cover {
  object-fit: cover;
}

.spend_logo {
  font-family: 'Poppins', sans-serif;
}

.spend_text {
  font-family: 'Montserrat', sans-serif;
}

.spend_text_secondary {
  font-family: 'Roboto', sans-serif;
}


.text_nav {
  font-size: larger;
}
